@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  border-bottom: 1px solid black;
}

.ingredienteForm {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.momentulZilei {
  display: flex;
  justify-content: space-between;
  font-size: large;
}

.momentulZilei ul {
  display: flex;
  justify-content: center;
}

.filtru {
  background-color: #f1f1f1;
  height: fit-content;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 70px;
  right: 100px;
  display: inline-block;
}

.filtru ul {
  padding: 0;
  margin: 0;
  
}

.filtru li {
  margin: 5px 0;
  font-size: large;
}

.filtru input[type="checkbox"] {
  margin-right: 5px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 30px;
  list-style-type: none;
}

.navbar a:hover {
  color: rgb(85, 34, 136);
  color: rgb(85, 34, 136);
  text-decoration: underline;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
}

.reteta {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reteta img {
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

.reteta h2 {
  color: #333;
  margin-bottom: 8px;
}

.reteta .ingrediente {
  color: #666;
}

.reteta .ingrediente ul {
  margin-right: 40px;
}

.reteta .ingrediente li {
  margin-bottom: 4px;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: large;
  color: black;
}

.formReteta {
  width: 400px;
  margin: 0 auto;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formReteta h2 {
  margin-bottom: 16px;
  text-align: center;
}

.formReteta label {
  display: block;
  margin-bottom: 8px;
}

.formReteta button {
  border-radius: 8px;
  border: 1px solid #ccc;
  height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formReteta button:hover {
  background-color: rgb(210, 185, 235);
  cursor:pointer;
}

.formReteta input {
  width: 90%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.formReteta hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 16px 0;
}

.stergeReteta, .butonFav {
  border-radius: 8px;
  border: 1px solid #ccc;
  height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.butoaneFavorit {
  display: flex;
  justify-content: space-evenly;
}

.stergeReteta:hover {
  background-color: rgb(210, 185, 235);
  cursor:pointer;
}
.butonFav:hover {
  background-color: rgb(210, 185, 235);
  cursor:pointer;
}

.reteta:hover {
  background-color: rgb(232, 220, 243);
}

input[type=checkbox] {
  cursor:pointer;
}

.search {
  text-align: center;
}
